<div class="row">
    <div class="col col-md-10 col-md-offset-1 main-hsk-level hsk{{character['hsk_level']}}">
        <span>HSK {{character['hsk_level']}}</span>
    </div>
    <div class="col col-md-10 col-md-offset-1 main-char hsk{{character['hsk_level']}}">
        <span>{{character['character']}}</span>
    </div>
    
    <div class="col col-md-10 col-md-offset-1 main-pinyin hsk{{character['hsk_level']}}">
        <span>{{character['pinyin']}}</span>
    </div>
    <div class="col col-md-10 col-md-offset-1 main-definition hsk{{character['hsk_level']}}">
        <span>{{character['definition']}}</span>
    </div>
</div>
