<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-7">
                <h1 class="main-title">Chinese character decomposition</h1>
            </div>
            <div class="col-md-3">
                <h4 class="hsk-color-code-caption">HSK Color Code:</h4>
            </div>
            <div class="col-md-2">
                <div class="row row-hsk-color-code">
                    <div class="col col-md-2 hsk-color-code hsk1">1</div>
                    <div class="col col-md-2 hsk-color-code hsk2">2</div>
                    <div class="col col-md-2 hsk-color-code hsk3">3</div>
                    <div class="col col-md-2 hsk-color-code hsk4">4</div>
                    <div class="col col-md-2 hsk-color-code hsk5">5</div>
                    <div class="col col-md-2 hsk-color-code hsk6">6</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="padding-bottom: 20px;" class="col-md-12">
                <h3 style="text-align: center;">
                    <input [disabled]="loading" [(ngModel)]="next_char" (keydown)="onKeydown($event);" style="margin-top: 0px; padding: 6px;" type="text" size="20">
                    <input [disabled]="loading" (click)="btnClick();" style="margin: 3px;font-size: 15px; padding: 15px; padding-bottom: 8px; font-weight: 400" type="submit" value="Decompose">
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-top: 5px; padding: 15px">
                <app-main-character [character]="main_character"></app-main-character>
            </div>
            <div class="col-md-8" *ngIf="main_character['component1'] != 'N/A'">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-12">
                                <h3 class="panel-title components-title text-center">Components of {{main_character['character']}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row component-row align-middle">
                            <app-component [component]="main_character['component1']" [position]="'1'"></app-component>
                            <app-component [component]="main_character['component2']" [position]="'2'"></app-component>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-6">
                        <app-compound [component]="main_character['component1']" [position]="'1'"></app-compound>
                    </div>
                    <div class="col col-xs-6">
                        <app-compound [component]="main_character['component2']" [position]="'2'"></app-compound>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>